@media (min-width: 500px) {    
    .headerMoile {
        display: none;
    }
}

.menu {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
    z-index: 1;
}

.menu_open {
    transform: translateX(0);
}

.menu-item {
    background: white;
    border-bottom: 1px solid #5c73f2;
    cursor: pointer;
    padding: 25px 20px;
}

.menu-item:active,
.menu-item:hover {
    background: #50967F;
}

.menu-item-action {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}

.btnMenu {
    background-position: 15px center;
    background-repeat: no-repeat;
    display: block;
    padding: 25px 20px;
}

.btnMenu_close {
    background: #5C73F2;
}

