@media (min-width: 390px) {
    section {
        display: flex;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }
}

@media (min-width: 500px) {
    section {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 500px;
    }
}

.menuLeft {
    text-align: right;
}

.menuLeft-options li {
    padding: 5px 5px 20px 5px;
    transition: 0.3s;
}

.menuLeft-options li:hover {
    transform: scale(1.3);
}

.menuLeft-options-link a {
    padding: 5px 5px 20px 5px;
}

.menuLeft-options-link a:hover {
    color: #5c73f2;
}

.userInput {
   text-align: center;
}

.userInput input {
    width: 80%;
    height: 30px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.userInput button {
    width: 10em;
    height: 40px;
    border: none;
    background: #5c73f2;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 50px;
}   

.userInput button:active,
.userInput button:hover {
    background: #5c73f2;
    border-radius: 30px;
    color: white;
}

.userInput-time,
.userInput-radio {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    transition: 0.3s;
}

.userInput-radio input {
    cursor: pointer;
}

.userInput-time input{
    width: 100px;
}

.remove {
    display: none;
}